@import "tailwindcss";



body{
    background-image: url("images/background.jpg");
};

input[type='radio']:checked::after {
    content: '✓';
    color: white;
    position: absolute;
    top: -1px;
    left: 2px;
    font-size: 14px;
    font-weight: bold;
}